{% extends 'projeto/base.html' %}
{% load static %}
{% block main %}
    <div class="main">
                <main>
                    <p class="multi-label">Multimédia</p>
                    <div class="row">
                         <div class="column">
                             <div class="container1">
                                 <figure><img src="{% static 'projeto/images/img1.png' %}" title="wolfimg1" class="imgPrincipal" id="img"><center><figcaption><details><a id="link" href="https://pikabu.ru/story/istoriya_mira_wolfenstein_ii_spisok_filmov_serialov_knig_5405722">Link</a></details></figcaption></center></figure>
                                 <div class="text-block">
                                     <h4>Vilã</h4>
                                     <p class="textoTamanho">Frau Engel</p>
                                   </div>
                             </div>
                         </div>
                         <div class="column">
                             <div class="container1">
                                 <figure><img src="{% static 'projeto/images/img2.png' %}" title="wolfimg2" class="imgPrincipal" id="img"> <center><figcaption><details><a id="link" href="https://www.zapper.co.il/itm/wolfenstein-ii-the-new-colossus-pc-read-description-274621985195">Link</a></details></figcaption></center></figure>
                                 <div class="text-block">
                                     <h4>Inimigos</h4>
                                     <p class="textoTamanho">Os cães do Reich</p>
                                   </div>
                             </div>
                         </div>
                         <div class="column">
                             <div class="container1">
                                 <figure><img src="{% static 'projeto/images/img3.png' %}" title="wolfimg3" class="imgPrincipal" id="img"><center><figcaption><details><a id="link" href="https://www.techtudo.com.br/noticias/2017/06/wolfenstein-2-the-new-colossus-traz-novos-rumos-ao-pai-dos-fps-e32017.ghtml">Link</a></details></figcaption></center></figure>
                                 <div class="text-block">
                                     <h4>Cutscene</h4>
                                     <p class="textoTamanho">Dinner Scene</p>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="row">
                         <div class="column">
                             <div class="container1">
                                 <figure><img src="{% static 'projeto/images/img6.png' %}" title="wolfimg5" class="imgPrincipal" id="img"><center><figcaption><details><a id="link" href="https://gamemag.ru/news/128270/wolfenstein-ii-the-new-colossus-opublikovany-skrinshoty-shutera-dlya-nintendo-switch">Link</a></details></figcaption></center></figure></figure>
                                 <div class="text-block">
                                     <h4>Cena de combate</h4>
                                     <p class="textoTamanho">Luta com um "ÜberSoldat"</p>
                                 </div>
                             </div>
                         </div>
                         <div class="column">
                             <div class="container1">
                                 <figure><img src="{% static 'projeto/images/img7.png' %}" title="wolfimg6" class="imgPrincipal" id="img"><center><figcaption><details><a id="link" href="shorturl.at/lsLST">Link</a></details></figcaption></center></figure></figure>
                                 <div class="text-block">
                                     <h4>Fight Style</h4>
                                     <p class="textoTamanho">Melee combat</p>
                                 </div>
                             </div>
                         </div>
                         <div class="column">
                             <div>
                                 <figure><img src="{% static 'projeto/images/img8.png' %}" title="wolfimg7" class="imgPrincipal" id="img"><center><figcaption><details><a id="link" href=" https://www.gamersglobal.de/news/133112/wolfenstein-2-districts-sollen-den-wiederspielwert-steigern">Link</a></details></figcaption></center></figure></figure>
                                 <div class="text-block">
                                     <h4>Scenematic</h4>
                                     <p class="textoTamanho">Vista do muro de New Orleans</p>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="row">
                         <div class="column">
                             <div class="container1">
                                 <figure><img src="{% static 'projeto/images/img11.png' %}" title="wolfimg9" class="imgPrincipal" id="img"><center><figcaption><details><a id="link" href="https://www.techtudo.com.br/listas/2017/10/forza-7-shadow-of-war-e-super-mario-sao-destaques-em-outubro.ghtml">Link</a></details></figcaption></center></figure>
                                 <div class="text-block">
                                     <h4>Cutscene</h4>
                                     <p class="textoTamanho">O encontro entre BJ e a resistência</p>
                                 </div>
                             </div>
                         </div>
                         <div class="column">
                             <div class="container1">
                                 <figure><img src="{% static 'projeto/images/img13.png' %}" title="wolfimg10" class="imgPrincipal" id="img"><center><figcaption><details><a id="link" href="https://auburnpub.com/multimedia/galleries/gallery-wolfenstein-ii-the-new-colossus/collection_2e9b2487-2479-506a-a375-3dff7489974e.html">Link</a></details></figcaption></center></figure>
                                 <div class="text-block">
                                     <h4>Sequência do Jogo</h4>
                                     <p class="textoTamanho">BJ montando um "Panzerhund"</p>
                                 </div>
                             </div>
                         </div>
                         <div class="column">
                             <div class="container1">
                                 <figure><img src="{% static 'projeto/images/img14.png' %}" title="wolfimg11" class="imgPrincipal" id="img"><center><figcaption><details> <a id="link" href="https://www.tecmundo.com.br/voxel/201896-nazistas-invadem-eua-bethesda-anuncia-wolfenstein-2-the-new-colossus.htm">Link</a></details></figcaption></center></figure>
                                 <div class="text-block">
                                     <h4>Cutscene</h4>
                                     <p class="textoTamanho">Nazis Vs Exoesqueleto</p>
                                 </div>
                             </div>
                         </div>
                     </div>
                </main>
            </div>
{% endblock %}
