{% extends 'projeto/base.html' %}
{% load static %}
{% block main %}
    <div class="main">
                <main>
                    <center>
                        <br><h2>Multimédia</h2>
                        <div class="flex-containerVideo">
                        <div class="flex-itemsV">
                            <div>
                                <iframe width="720" height="480" src="https://www.youtube.com/embed/Sw4PsDJ1UVA" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div><br>
                            <div>
                                <iframe width="720" height="480" src="https://www.youtube.com/embed/JwljGAZf0mY" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="flex-itemsV">
                            <div>
                                <iframe width="720" height="480" src="https://www.youtube.com/embed/gkvd_PRRLgE" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div><br>
                            <div>
                                <iframe width="720" height="480" src="https://www.youtube.com/embed/Xn9N7ZMmFrE" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        </div>
                    </center>
                </main>
    </div>
{% endblock %}
