{% extends 'projeto/base.html' %}
{% load static %}
{% block main %}

    <div class="main">
        <main>
            <br>
            <p class="nossa-label">Análise</p>

            <h1 style="text-align: center;">Opinião geral</h1>
            <p class="textTabela" style="text-align: justify;">É um jogo bastante divertido, possui bons gráficos e é de
                fácil jogabilidade. No entanto, possui algumas repetições, nomeadamente, na reutilização da temática dos
                níveis.<br><br>
                Relativamente ao progresso deste jogo, há uma determinada parte em que é necessário repetir algumas
                missões secundárias para conseguirmos prosseguir com a história.
                Estas missões são apresentadas sob a forma de “side missions” (missões secundárias) por mapas já
                passados da história e onde o jogador terá de assassinar (dependendo da dificuldade) um dado número de
                “Oberkommandos”, ou seja, oficiais nazis de extrema importância, que terão na sua posse uns cartões
                encriptados que,
                por sua vez, são desencriptados para o desbloqueio de algumas missões da história e as respetivas "side
                missions".<br><br>
                Neste jogo, o jogador terá um hub principal onde poderá fazer algumas atividades, algo que é inexistente
                no jogo anterior. E que hub é este? Se não o próprio submarino que foi roubado no primeiro!
                Estas atividades podem ser desde as icónicas referências ao jogo original, as missões principais, as
                secundárias, os dlc e algumas atividades extras.<br><br>
                Preparem-se que se escolherem dificuldades mais altas, este jogo apresenta um bom desafio! Aconselhamos
                vivamente a jogarem este jogo, que é uma reinvenção da série.
                <br><br>
            </p>
            <h1 style="text-align: center;">Jogabilidade</h1>
            <p class="textTabela" style="text-align: justify;">A jogabilidade em si é da mesma qualidade que o jogo
                anterior, mas com mais mecânicas de jogo que serão apresentadas quando a temática dos níveis assim o
                pede (pela lógica).<br>
                Seguindo a lógica da história, os jogadores são apresentados com o estado de saúde de BJ (William Joseph
                "B.J." Blazkowicz). Esta irá obrigar ao jogador a ter uma adaptação da jogabilidade, embora mais à
                frente esta seja revertida ao normal.<br><br>
                Em termos de bugs não há nada a relatar, ao longo do tempo que jogamos o jogo nunca encontramos
                nada.<br>
            </p>
            <h1 style="text-align: center;">História</h1>
            <p class="textTabela" style="text-align: justify;">A história é bem estruturada e coerente. Em pontos onde a
                lógica e a história importam, estes foram respeitados de modo a que os fãs não se chateiem neste
                aspecto.<br>
                E mais não dizemos, para evitar spoilers significativos.😂😂<br>
            </p>
            <h1 style="text-align: center;">Estrutura</h1>
            <p class="textTabela" style="text-align: justify;">Nesta parte, a qualidade do jogo decresce um pouco, uma
                vez que este é um pouco repetitivo ao longo da história, algo que não acontece no primeiro jogo.
                <br><br>
                A juntar ao ponto anterior o facto de termos de dar "grind" (repetição de uma actividade para se chegar
                a um dado objetivo) na actividade dos “Oberkommandos” implica que se tenha de passar ainda mais tempo
                nesses mesmo niveis o que agrava mais esta situação,
                sendo assim para quem quer completar estas side missions (missões secundárias) a 100% deixamos a dica de
                repetirem continuamente a missão no arranha-céu que é pequena e rápida de se fazer.<br>
            </p>
            <h1 style="text-align: center;">DLCs</h1>
            <p class="textTabela" style="text-align: justify;">
                Em termos de DLCs, podemos afirmar que não se perde muito se não jogarem, pois:<br>
            <ul>
                <li>
                    Personagens que não têm nada a haver com a história do jogo (são 3, um soldado veterano americano,
                    uma antiga espia britânica e um jogador afroamericano de footeball americano).
                </li>
                <li>
                    Em termos de lógica foram removidas mecânicas de jogo ou estas macânicas não estão disponiveis em
                    determinadas personagens.
                </li>
                <li>
                    Contéudo reutilizado (não é um ponto mau, mas como o jogo já o faz torna-se chato e repetido).
                </li>
                <li>
                    Preparem-se para uma escalada de dificuldade abnormal.
                </li>
                <li>
                    Repetição da Temática (trata-se da morte dos nazis sem o BJ).
                </li>
            </ul>
            </p>
        </main>
    </div>
{% endblock %}